altair
deap
hypothesis
joblib
lightgbm
matplotlib
numpy~=1.24.2
pandas~=2.2.2
scikeras
seaborn
shap
scikit-learn~=1.4.2
tensorflow
tqdm
xgboost~=2.0.3
streamlit~=1.36.0
streamlit_extras
psutil~=5.9.0
PyMuPDF
langchain~=0.2.6
openai
chromadb
tiktoken
langchain_huggingface
langchain_community
watchdog
pytest
faiss-cpu
